*{
	text-decoration: none
}
body,h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway", sans-serif
}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/bg2.jpg");
    min-height: 100%;
}
/* Nav bar */
.bar{
	width:100%;
	overflow:hidden
}
.center .bar{
	display:inline-block;
	width:auto
}
.bar .bar-item{
	padding:8px 16px;
	float:left;
	background-color:inherit;
	color:inherit;
	width:auto;
	border:none;
	outline:none;
	display:block
}
.btn-bar .btn{
	box-shadow:none;
	background-color:inherit;
	color:inherit;
	float:left
}
.btn-bar .btn:hover{
	background-color:#ccc
}

.bar .dropdown-hover,.bar .dropdown-click{
	position:static;
	float:left
}
.bar .button{
	background-color:inherit;
	color:inherit;
	white-space:normal;
	padding: 16px;
}
.bar-block{
	width:100%
}
.bar-block .bar-item{
	width:100%;
	display:block;
	padding:6px 2px 6px 16px;
	text-align:left;
	background-color:inherit;
	color:inherit;
	border:none;
	outline:none
}
.btn, .btn-block, .button{
	border:none;
	display:inline-block;
	outline:0;
	padding:6px 16px;
	vertical-align:middle;
	overflow:hidden;
	color:#fff;
	background-color:#000;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
.btn:hover, .btn-block:hover, .btn-floating:hover, .btn-floating-large:hover{
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
.button{
	color:#000;
	background-color:#f1f1f1;
	padding:8px 16px
}
.button:hover{
	background-color:#ccc;
}
.logo{
	height: 25px;
}


.fadein{
	-webkit-animation: fadein 4s;
    -moz-animation: fadein 4s;
    -ms-animation: fadein 4s;
    -o-animation: fadein 4s;
	animation: fadein 4s;
}


/* Animation */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}