*{
	text-decoration: none;
	font-family: "Raleway", sans-serif;
}
html,body{
	font-size:15px;
	line-height:1.5;
	height: 100%;
}

body{
	background-image: url('../images/bg1.jpg');
	background-attachment: fixed;
}
html{ overflow-x:hidden }
/* Font style */
h1,h2,h3,h4,h5,h6,.slim,.wide{ font-family:"Segoe UI",Arial,sans-serif; }
h1{
	font-size:36px;
}
h2{
	font-size:30px;
}
h3{
	font-size:24px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}

.serif{font-family:"Times New Roman",Times,serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}
.wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}


/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/bg2.jpg");
    min-height: 100%;
}
/* Nav bar */
.bar{
	width:100%;
	overflow:hidden
}
.center .bar{
	display:inline-block;
	width:auto
}
.bar .bar-item{
	padding:8px 16px;
	float:left;
	background-color:inherit;
	color:inherit;
	width:auto;
	border:none;
	outline:none;
	display:block
}
.btn-bar .btn{
	box-shadow:none;
	background-color:inherit;
	color:inherit;
	float:left
}
.btn-bar .btn:hover{
	background-color:#ccc
}

.bar .dropdown-hover,.bar .dropdown-click{
	position:static;
	float:left
}
.bar .button{
	background-color:inherit;
	color:inherit;
	white-space:normal;
	padding: 16px;
}
.bar-block{
	width:100%
}
.bar-block .bar-item{
	width:100%;
	display:block;
	padding:6px 2px 6px 16px;
	text-align:left;
	background-color:inherit;
	color:inherit;
	border:none;
	outline:none
}
.btn, .btn-block, .button{
	border:none;
	display:inline-block;
	outline:0;
	padding:6px 16px;
	vertical-align:middle;
	overflow:hidden;
	color:#fff;
	background-color:#000;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
.btn:hover, .btn-block:hover, .btn-floating:hover, .btn-floating-large:hover{
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
.button{
	color:#000;
	background-color:#f1f1f1;
	padding:8px 16px
}
.button:hover{
	background-color:#ccc;
}
.logo{
	height: 22px;
}

.scrolling{
	background-color: white;
	color:#000;
}
.pointer{
	cursor: pointer;
}
.link{
	cursor: pointer;
}
.link:hover{
	text-decoration: underline;
}
/* Discover */
.discover-img{
	width:100%;
}

.library-img{
	width:100%;
}
.add-to-list{
	float: right;
	font-size: 24px;
}
.maincontrolbar{
margin-left: 6px; 
float: left; 
width:60%;  
margin-right: 20px
}
.add-to-list > .fa + .fa,
.add-to-list:hover > .fa {
	display: none;
}
.add-to-list:hover > .fa + .fa {
	display: inline;
}

.tag{
   float: right;
   position: absolute;
   right: 0px;
   top: 0px;
   z-index: 1000;
}

.libviewmain{

margin-left: 6em; 
margin-right: 6em; 

}

.trackstyle{
width:95px;
float:left; margin-top:35px
}
@media screen and (max-width: 660px){ .playlist-item-wrapper{
padding-left: 0em;
padding-right: 0em;
margin-bottom: 0em;
}
div[id^=main-container] {
    padding-left: 0em;
	padding-right: 0em;
	margin-bottom: 0em;
}

div[id=maincontrolbar]{
	margin-left: 0em;
	margin-right: 0em;
	width: 100%;
	float: none;
	padding-left: 1em;
	padding-right: 1em;
}

#tracktime{
   position:absolute;
   top:0;
   right:0;
   margin-top: 1em;
   margin-right: 1em;
}
#closeplayer{
display: none;
}

#imgcontainer{
width: 100%;

}

#work{
margin-left: 0em;
margin-right: 0em;
}

#divlineborderimg{
width: 100%;
margin-left: 0em;
margin-right: 0em;

}
#musicimage{
display: none;
}
div {
	margin-left: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	float: none;
    position: none;
    width: 100%;
}
}


.image-container {
	float: left;
	display:block;
    position: relative;
    width: 9%;
}

.music-container {
	float: left;
	display:block;
    position: relative;
    width: 3.5%;
}

.musicprogress{
	border-radius: 25px;
	height: 5px;
	border:1px solid lightblue;
}

.control-container{
	float: left;
	display:block;
    position: relative;
    width: 5.0%;
    height: 5.0%;
}
.playlist-item-wrapper{
	padding-left: 6em;
	padding-right: 6em;
	margin-bottom: 2.5em;
}
.image-container .playlist-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
	
}
.image-container:hover .playlist-control {
	display:block;
    background: rgba(0, 0, 0, .25) url("../images/play.png") no-repeat center;
	background-size: 80px 80px;
	-webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .5s; /* Firefox < 16 */
    -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera < 12.1 */
    animation: fadein .5s;

}

#musicControll{
 background: rgba(255, 255, 255, .25);
}

#musicbar{
	width: 0;
    height: 3.5px;
	display:block;
    background-color: lightblue;
	position: static; 
	bottom: 0;
}

#myBar {
    width: 1%;
    height: 3.5px;
    background-color: lightblue;
	position: absolute; 
	bottom: 0;
}

*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*


.discover-date{
	float: right;;
}

/* Input */
form input:focus{
	outline: none !important;
	border: 1px solid #1F5673;
}
form .error{
	border: 1px solid #f44336;
}


.fadein{
	-webkit-animation: fadein 4s;
    -moz-animation: fadein 4s;
    -ms-animation: fadein 4s;
    -o-animation: fadein 4s;
	animation: fadein 4s;
}


/* Animation */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* media querries */
@media (max-width:1680px){
	.discover-date{
		display: none;
	}
}