<div class="display-left padding-xxlarge text-white fadein ">
    <span class="jumbo hide-small">Discover Music in a new way</span><br>
    <span class="xxlarge hide-large hide-medium">AudioCity</span><br>
</div>
<div class="display-bottomleft padding-xxlarge text-white large">
    <a href="#" class="hover-text-white"><i class="fa fa-facebook-official hover-text-indigo"></i></a>
    <a href="#" class="hover-text-white"><i class="fa fa-instagram hover-text-purple"></i></a>
    <a href="#" class="hover-text-white"><i class="fa fa-twitter hover-text-light-blue"></i></a>
</div>