<div id="controlMusic" class="bottom"  style="display: none;">
    <div id="controlarrow" class="right-align padding-right padding-4"><i id="hidearrow" class="fa fa-arrow-down pointer" style=" -webkit-text-stroke-width: 1px; font-size: 20px; color: white;  display: none; -webkit-text-stroke-color: gray;" onclick="showorhide()"></i></div>
    <audio id="music" preload="auto" src="" type="audio/mp3" current=""></audio>
    <div id="controllBar" class="bar white">
        <img src="" id="musicimage" class="music-container" style="margin: 5px"/>
        <div id="maincontrolbar" class="maincontrolbar">
            <p id="songname">Name of the song</p>
            <div id="musicdiv"   onclick="gotoTime(event)" class="musicprogress pointer">
                <div id="musicbar"></div>
            </div>
			
        </div>
		<span id="tracktime" class="trackstyle">0</span>
        <div class="center padding-12">
            <i class="fa fa-arrow-circle-left pointer" style="font-size: 40px; color: lightblue;" onclick="previous()"></i>
            <i class="fa fa-chevron-circle-left" style="font-size: 40px; color: lightblue;" onclick="secondsback()"></i>
            <i id="playicon" class="fa fa-pause-circle pointer" style="font-size: 40px; margin-top:15px; color: lightblue;" onclick="playmusic()" class="pointer"></i>
            <i class="fa fa-chevron-circle-right pointer" style="font-size: 40px; color: lightblue;" onclick="secondsforward()"></i>
            <i class="fa fa-arrow-circle-right pointer" style="font-size: 40px; color: lightblue;" onclick="next()"></i>
            <i class="fa fa-times pointer" style="font-size: 20px; float:right; margin-right: 10px; margin-top: 5px; color: gray;" onclick="close_player()"></i>
        </div>
		
    </div>
</div>